# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  MAIN_PYTHON_VERSION: "3.14"

jobs:
  # Build and test
  build:
    if: github.repository_owner == 'galactic-forensics'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install the project
      run: uv sync --all-extras --dev
    - name: Run tests
      run: |
        uv run pytest
        uv run xdoctest ceresfit --all
    - name: Run Lint on one python
      if: ${{ matrix.python-version == env.MAIN_PYTHON_VERSION }}
      run: uv run ruff check
    - name: Run Pytest with coverage
      if: ${{ matrix.python-version == env.MAIN_PYTHON_VERSION }}
      run: |
        uv run pytest --cov=ceresfit --cov-report xml
    - name: Upload coverage reports to Codecov
      if: ${{ matrix.python-version == env.MAIN_PYTHON_VERSION && github.repository_owner == 'galactic-forensics' }}
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
